<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>POLITICO/NICAR18 Reactive Frameworks w/out Fear</title>
    <link rel="stylesheet" type="text/css" href="https://www.politico.com/interactives/cdn/fonts/base-icons/politico-base-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    {%include "./header.njk"%}
    <article>
      {%include "./title.njk"%}

      {%block content%}
      {%endblock%}

    </article>
    <script src="js/main.js"></script>
    {%block scripts%}
    {%endblock%}
  </body>
</html>
