<section>
  <h4>Part 5: Hello Component Lifecycle. (Hello D3.)</h4>
  <p>components from classes.</p>

  <div id="part5-app" class="demo"></div>

  <div class="homework">
    <h6><i class="fa fa-pencil"></i> Try it together!</h6>
    <ul>
      <li>Move your component to a separate module.</li>
    </ul>
  </div>
</section>
