<section>
  <h4>Part 8: Hello Stores</h4>
  <p>When event bubbling get's too crazy...</p>
  <div id="part8-app" class="demo"></div>

  <div class="homework">
    <h6><i class="fa fa-pencil"></i> Try it together!</h6>
    <ul>
      <li>Update your store from the dropdown to change the highlighted state.</li>
      <li>Get some data from our results API and use it with the Results component.</li>
    </ul>
  </div>

  <div class="further-reading">
    <h6><i class="fa fa-bookmark"></i> Further reading</h6>
    <ul>
      <li>
        <a href="https://reactjs.org/docs/thinking-in-react.html" target="_blank">Thinking in React</a>
      </li>
      <li>
        <a href="https://redux.js.org/" target="_blank">Redux docs</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=gvVpSezT5_M&feature=youtu.be&t=11m51s" target="_blank"> Why Redux for newsapps? Reusing/Repurposing <i className="fa fa-video-camera" /></a>
      </li>
    </ul>
  </div>
</section>
