<section>
  <h4>Part 5: Hello Component Lifecycle. (Hello D3.)</h4>
  <p>Components have a "lifecycle" that triggers methods in the moments before and after components are added to the DOM or updated. You can plug third-party libraries into those methods to do complex things.</p>

  <div id="part5-app" class="demo"></div>

<div class="key-code">
<h6><i class="fa fa-code"></i> Key code</h6>
<script type="text/plain" class="language-jsx">// Use Lifecycle methods to hook third party libraries into React
componentDidMount () {
  const node = d3.select(`.viz-box.no${this.datum.value} svg`);

  // ...

  node.append('rect')
    .attr('width', sideLength)
    .attr('height', sideLength)
    .attr('x', 0)
    .attr('y', 0);
}
</script>
</div>

  <div class="homework">
    <h6><i class="fa fa-pencil"></i> Try it together!</h6>
    <ul>
      <li>Fix the order in the data and use another lifecycle method to update the chart.</li>
    </ul>
  </div>

  <div class="further-reading">
    <h6><i class="fa fa-bookmark"></i> Further reading</h6>
    <ul>
      <li>
        <a href="https://reactjs.org/docs/react-component.html#the-component-lifecycle" target="_blank">React Component Lifecycle</a>
      </li>
      <li>
        <a href="https://preactjs.com/guide/api-reference#lifecycle-methods" target="_blank">Preact Lifecycle Methods</a>
      </li>
    </ul>
  </div>
</section>
