<section>
  <h4>Part 3: Hello Props</h4>
  <p>Props can be passed...</p>

  <div id="part3-app" class="demo"></div>

<div class="key-code">
<h6><i class="fa fa-code"></i> Key code</h6>
<script type="text/plain" class="language-jsx">// Pass props to components
<ListItem text='Some text passed to a component as a property!' />

// ...

const ListItem = (props) => (
  <li>{props.text}</li>
);
</script>
</div>

  <div class="homework">
    <h6><i class="fa fa-pencil"></i> Try it together!</h6>
    <ul>
      <li>Get some JSON and use it to create multiple list items!</li>
    </ul>
  </div>
</section>
