<section>
  <h4>Part 8: Hello Stores</h4>
  <p>With any normally complex app, chaining components and bubbling events through them becomes messy. That's when we can create a central Store that we can update from anywhere in the app and react to in our components through basic props.</p>
  <div id="part8-app" class="demo"></div>

  <div class="homework">
    <h6><i class="fa fa-pencil"></i> Try it together!</h6>
    <ul>
      <li>Plug in our prefab Results component.</li>
    </ul>
  </div>

  <div class="further-reading">
    <h6><i class="fa fa-bookmark"></i> Further reading</h6>
    <ul>
      <li>
        <a href="https://reactjs.org/docs/thinking-in-react.html" target="_blank">Thinking in React</a>
      </li>
      <li>
        <a href="https://redux.js.org/" target="_blank">Redux</a>
      </li>
    </ul>
  </div>
</section>
