<section>
  <h4>Part 4: Hello Components 2</h4>
  <p>components from classes.</p>

  <div id="part4-app" class="demo"></div>

<div class="key-code">
<h6><i class="fa fa-code"></i> Key code</h6>
<script type="text/plain" class="language-jsx">// Extending a component class
class ListItem extends Component {
  render (props) {
    return <li>{props.text}</li>;
  }
}
</script>
</div>

<div class="homework">
  <h6><i class="fa fa-pencil"></i> Try it together!</h6>
  <ul>
    <li>Make your list items all SCREAM-case with a component class method.</li>
  </ul>
</div>


<div class="further-reading">
  <h6><i class="fa fa-bookmark"></i> Further reading</h6>
  <ul>
    <li>
      <a href="https://preactjs.com/guide/types-of-components" target="_blank">Preact Component</a>
    </li>
    <li>
      <a href="https://reactjs.org/docs/react-component.html" target="_blank">React Component</a>
    </li>
  </ul>
</div>


</section>
