<section>
  <h4>Part 8: Hello Elections Machine!</h4>
  <p>OK, we aren't going to create a <em>very</em> complex elections app, but we'll show exactly how you can chain state through your components to create one.</p>
  <div id="part8-app" class="demo"></div>

  <div class="homework">
    <h6><i class="fa fa-pencil"></i> Try it together!</h6>
    <ul>
      <li>Plug in our prefab Results component.</li>
    </ul>
  </div>

  <div class="further-reading">
    <h6><i class="fa fa-bookmark"></i> Further reading</h6>
    <ul>
      <li>
        <a href="https://reactjs.org/docs/thinking-in-react.html" target="_blank">Thinking in React</a>
      </li>
      <li>
        <a href="https://www.javascriptstuff.com/react-ajax-best-practices/" target="_blank">
          AJAX and working with APIs in React
        </a>
      </li>
      <li>
        <a href="https://redux.js.org/" target="_blank">Using Redux to model your state</a>
      </li>
    </ul>
  </div>
</section>
