<section>

<h4>Part 1: Hello JSX</h4>
<p>JSX is the syntax that includes.</p>
<div id="part1-app" class="demo"></div>

<div class="key-code">
<h6><i class="fa fa-code"></i> Key code</h6>
<script type="text/plain" class="language-jsx">// JSX is HTML in JavaScript...  like peanut butter in chocolate.
const someJSX = (
<p>Hello, world! I did JSX!</p>
);
</script>
</div>


<div class="homework">
  <h6><i class="fa fa-pencil"></i> Try it together!</h6>
  <ul>
    <li>Create a second paragraph in JSX.</li>
    <li>Use some JavaScript <em>inside</em> your JSX.</li>
  </ul>
</div>

<div class="further-reading">
  <h6><i class="fa fa-bookmark"></i> Further reading</h6>
  <ul>
    <li>
      <a href="https://reactjs.org/docs/introducing-jsx.html" target="_blank">Introducing JSX</a>
    </li>
  </ul>
</div>

</section>
