<section>
  <h4>Part 2: Hello Components</h4>
  <p>You can render compon.</p>

  <div id="part2-app" class="demo"></div>


<div class="key-code">
<h6><i class="fa fa-code"></i> Key code</h6>
<script type="text/plain" class="language-jsx">// Use components like JSX elements
const someJSX = (
  <div>
    <h6>More JSX</h6>
    <Component />
  </div>
);
</script>
</div>

  <div class="homework">
    <h6><i class="fa fa-pencil"></i> Try it together!</h6>
    <ul>
      <li>Move your component to a separate module.</li>
    </ul>
  </div>
</section>
